/*
 * Sass styling for the Testimonial component
 * @author Andrew Jarombek
 * @since 1/22/2020
 */

@import "../fonts";

.sxctf-testimonial {
  display: grid;
  grid-template-areas:
          "testimonial testimonial"
          "photo       name       "
          "photo       title      ";
  justify-content: center;

  margin: 45px 75px;
  width: 400px;

  @media screen and (max-width: 1300px) {
    margin: 45px 50px;
    width: 300px;
  }

  p:nth-child(1) {
    grid-area: testimonial;

    width: 400px;
    align-self: end;
    margin: 0 0 5px 0;

    @include roboto-slab-bold;
    color: #4e4e4e;
    font-size: 28px;

    @media screen and (max-width: 1300px) {
      font-size: 24px;
      width: 300px;
    }
  }

  div:nth-child(2) {
    grid-area: photo;
    align-self: center;

    height: 80px;
    width: 80px;
    margin: 20px;

    @media screen and (max-width: 1300px) {
      height: 70px;
      width: 70px;
      margin: 10px;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 0 0 10px 0;

      border: 1px solid #888;
      border-radius: 50%;
      transition: border 0.5s ease;

      &:hover {
        border: 1px solid black;
      }

      img {
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        border-radius: 50%;
      }
    }
  }

  p:nth-child(3) {
    grid-area: name;

    align-self: end;
    margin: 0 0 5px 0;
    width: 280px;

    @include roboto-bold;
    color: #3e3e3e;
    font-size: 18px;

    @media screen and (max-width: 1300px) {
      width: 220px;
    }
  }

  p:nth-child(4) {
    grid-area: title;

    align-self: start;
    margin: 0;

    @include roboto;
    font-size: 16px;
    font-style: italic;
  }
}
