/*
 * Sass styling for the SignIn component
 * @author Andrew Jarombek
 * @since 4/30/2020
 */

@import "../vars";

.sxctf-sign-in {
  background-color: #f5f5f5;

  .sxctf-home-nav-bar {
    background-color: #f5f5f5;

    h1 {
      color: lighten(#0e0e0e, 10%);
    }
  }
}
