/*
 * Sass styling for the SignInBody component
 * @author Andrew Jarombek
 * @since 5/2/2020
 */

@import "../../fonts";
@import "../../vars";

.sxctf-sign-in-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  min-height: calc(100vh - 100px);

  &:before {
    content: '';
    flex-grow: 1;
    display: block;
  }

  &:after {
    content: '';
    flex-grow: 2;
    display: block;
  }

  > div {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 450px;
    margin: 25px 0;

    h2 {
      @include roboto-bold;
      font-size: 24px;
      margin: 20px 0;
    }

    a {
      @include roboto-bold;
      font-size: 13px;
      text-decoration: none;
      align-self: flex-end;
      margin: 20px 100px 20px 0;
      color: $spot-palette-blue;

      &:hover {
        text-decoration: underline;
      }
    }

    .form-buttons {
      .aj-contained-button[class*="ajContainedButtonDisabled"] {
        background-color: #999 !important;
      }
    }
  }
}
