/*
 * Sass styling for the HomeBody component
 * @author Andrew Jarombek
 * @since 1/19/2020
 */

@import "../fonts";

.sxctf-home-body {

  > div {
    height: 120px;
    margin: 250px 0 450px 5%;

    @media screen and (max-width: 1600px) {
      margin: 200px 0 400px 5%;
    }

    @media screen and (max-width: 1400px) {
      margin: 200px 0 380px 5%;
    }

    @media screen and (max-width: 1350px) {
      margin: 200px 0 350px 5%;
    }

    @media screen and (max-width: 1300px) {
      margin: 200px 0 300px 5%;
    }

    @media screen and (max-width: 1210px) {
      margin: 200px 0 250px 5%;
    }

    @media screen and (max-width: 1120px) {
      margin: 180px 0 240px 5%;
    }

    h2 {
      @include roboto-bold;
      color: #bbb;
      width: 60%;
      font-size: 36px;
    }

    .options {
      display: flex;
    }

    .aj-text-button {
      button {
        color: #eee !important;
      }

      &:hover, &:active {
        button {
          color: white !important;
        }
      }
    }
  }
}
