/*
 * Sass styling for the HomeNavBar component
 * @author Andrew Jarombek
 * @since 1/16/2020
 */

@import "../fonts";

.sxctf-home-nav-bar {
  display: flex;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .sxctf-logo {
    margin: 0;
    padding: 0 10px;
    height: 100px;
    width: 120px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  h1 {
    @include roboto-slab-bold;
    color: #eee;
  }

  .sxctf-nav-buttons {
    margin: 0 20px 0 auto;

    @media screen and (max-width: 800px) {
      display: none;
    }

    & > div {
      margin: 0 5px;
    }
  }

  .sxctf-nav-hamburger {
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
    }
  }

  .sxctf-nav-dropdown {
    display: none;
  }

  .sxctf-nav-dropdown-visible {
    display: block;
  }

  .aj-outlined-button, .aj-text-button {
    button {
      color: #eee !important;
    }

    &:hover, &:active {
      button {
        color: white !important;
      }
    }
  }
}
