/*
 * Sass styling for the ForgotPasswordResetBody component
 * @author Andrew Jarombek
 * @since 5/17/2020
 */

@import "../../../mixins";

.sxctf-forgot-password-reset-body {
  @include centeredBody;

  & > div {
    width: 600px;
    margin: 25px 0;

    @media screen and (max-width: 600px) {
      width: 300px;
    }

    @include formTitle;
    @include formSubtitle;
    @include formError;

    .form-buttons {
      @include formButtons;
    }
  }
}
