/*
 * Sass styling for the HomeNavBar component
 * @author Andrew Jarombek
 * @since 1/16/2020
 */

@import "../../../fonts";
@import "../../../vars";

.sxctf-nav-bar {
  display: flex;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &.sxctf-nav-bar-dropdown-visible {
    z-index: 1;
    position: fixed;

    @media screen and (min-width: 801px) {
      z-index: 0;
      background-color: transparent;
      position: absolute;
    }
  }

  .sxctf-logo {
    margin: 0;
    padding: 0 10px;
    height: 100px;
    width: 120px;

    @media screen and (max-width: 390px) {
      height: 75px;
      width: 90px;
    }

    img {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }

  h1 {
    @include roboto-slab-bold;
    cursor: pointer;

    @media screen and (max-width: 390px) {
      font-size: 28px;
    }
  }

  .sxctf-nav-buttons {
    margin: 0 20px 0 auto;

    @media screen and (max-width: 800px) {
      display: none;
    }

    & > div {
      margin: 0 5px;
    }
  }

  .sxctf-nav-hamburger {
    display: none;
    margin: 0 40px 0 auto;

    @media screen and (max-width: 800px) {
      display: block;
    }

    @media screen and (max-width: 390px) {
      margin: 0 40px 6px auto;
    }

    @media screen and (max-width: 340px) {
      margin: 0 20px 6px auto;
    }
  }

  .aj-outlined-button, .aj-text-button {
    button {
      color: #eee !important;
    }

    &:hover, &:active {
      button {
        color: white !important;
      }
    }
  }
}

.sxctf-nav-dropdown {
  display: none;
  height: 0;
}

.sxctf-nav-dropdown-visible {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;

  animation-duration: 0.15s;
  animation-fill-mode: forwards;

  @media screen and (min-width: 801px) {
    display: none;
  }

  @media screen and (max-width: 390px) {
    top: 75px;
    animation-name: show-background-mobile;
  }

  .aj-nav-list {
    .aj-nav-list-item {
      > div {
        width: 100%;
        height: 80px;
        border: none;

        &:hover {
          text-decoration: none;
        }

        > div {
          @include roboto-slab;
          font-size: 24px;
          transition: color 0.4s ease;

          &:hover {
            color: $saints-xctf-red;
          }
        }
      }
    }
  }

  .mobile-dropdown-logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
    filter: grayscale(1) brightness(1) opacity(0.5);
  }
}
