/*
 * Sass styling for the ImapgeInput component
 * @author Andrew Jarombek
 * @since 5/6/2020
 */

@import "../../../fonts";
@import "../../../vars";

.sxctf-image-input {
  display: flex;
  border: none;
  border-radius: 5px;
  background-color: #fdfdfd;

  height: 50px;
  width: 250px;

  img {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    margin: 7px;
  }

  .no-icon {
    flex-shrink: 0;
    width: 20px;
  }

  // Styles for Chrome auto-completion.
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $spot-palette-brown;
    transition: background-color 5000s ease 0s;
  }

  input {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 100px;

    @include roboto;
    font-size: 12px;
    background-color: transparent;
    border: none;
    width: 200px;

    &:focus {
      outline: none;
    }
  }

  div {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;

    .status {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;

      &.none {
        background-color: transparent;
      }

      &.success {
        background-color: $status-success;

        p {
          font-size: 22px;
        }
      }

      &.warning {
        background-color: $status-warning;

        p {
          font-size: 24px;
        }
      }

      &.failure {
        background-color: $status-failure;

        p {
          font-size: 24px;
        }
      }

      p {
        @include elegant-icons;
        color: white;
        margin: 0;
      }
    }
  }
}
