/*
 * Sass styling for the RegisterCredentials component
 * @author Andrew Jarombek
 * @since 5/13/2020
 */

@import "../../mixins";
@import "../../fonts";

.sxctf-register-credentials {
  width: 600px;
  margin: 25px 0;

  @media screen and (max-width: 600px) {
    width: 300px;
  }

  @include formTitle;

  .form-inputs {
    > .sxctf-image-input:nth-child(1) {
      margin-bottom: 10px;
    }

    > .sxctf-image-input:nth-child(3) {
      margin-top: 10px;
    }

    .sxctf-image-input {
      @media screen and (min-width: 1001px) {
        height: 60px;
        width: 325px;

        input {
          font-size: 14px;
        }

        img {
          width: 46px;
          height: 46px;
        }
      }
    }

    .input-tip {
      @include roboto-slab;
      color: #777;
      font-size: 12px;
      margin: 10px 5px 20px 5px;
      width: 325px;

      @media screen and (max-width: 1000px) {
        width: 250px;
        font-size: 10px;
      }
    }
  }

  @include formError;

  .form-buttons {
    @include formButtons;
  }
}
