/*
 * Sass styling for the RegisterBody component
 * @author Andrew Jarombek
 * @since 5/9/2020
 */

.sxctf-register-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  min-height: calc(100vh - 100px);

  @media screen and (max-width: 390px) {
    margin-top: 75px;
  }
}
