/*
 * Sass styling for the RegisterCredentials component
 * @author Andrew Jarombek
 * @since 5/13/2020
 */

@import "../../mixins";

.sxctf-register-credentials {
  width: 600px;
  margin: 25px 0;

  @media screen and (max-width: 600px) {
    width: 300px;
  }

  @include formTitle;

  .form-inputs {
    > .sxctf-image-input:nth-child(1) {
      margin-bottom: 10px;
    }

    > .sxctf-image-input:nth-child(3) {
      margin-top: 10px;
    }

    .sxctf-image-input {
      @media screen and (min-width: 1101px) {
        height: 60px;
        width: 325px;

        input {
          font-size: 14px;
        }
      }
    }
  }

  @include formError;

  .form-buttons {
    @include formButtons;
  }
}
