/*
 * Sass styling for the HomeBody component
 * @author Andrew Jarombek
 * @since 1/19/2020
 */

@import "../fonts";

.sxctf-home-body {
  height: 100vh;

  > div {
    margin: calc(100px + 15vh) 0 0 5%;

    h2 {
      @include roboto-bold;
      color: #bbb;
      width: 60%;
      font-size: 36px;
    }

    .options {
      display: flex;
    }

    .aj-text-button {
      button {
        color: #eee !important;
      }

      &:hover, &:active {
        button {
          color: white !important;
        }
      }
    }
  }
}
