/*
 * Sass styling for the Home component
 * @author Andrew Jarombek
 * @since 1/20/2020
 */

.sxctf-home {
  display: flex;
  flex-direction: column;

  .sxctf-home-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 625px;
    width: 100%;
    z-index: -1;

    height: 820px;

    @media screen and (max-width: 1600px) {
      height: 720px;
    }

    @media screen and (max-width: 1400px) {
      height: 700px;
    }

    @media screen and (max-width: 1350px) {
      height: 670px;
    }

    @media screen and (max-width: 1300px) {
      height: 620px;
    }

    @media screen and (max-width: 1210px) {
      height: 570px;
    }

    @media screen and (max-width: 1120px) {
      height: 540px;
    }
  }

  video.sxctf-home-background {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    z-index: -2;

    @media screen and (max-width: 1065px) {
      display: none;
    }
  }
}
