/*
 * Sass styling for the Home component
 * @author Andrew Jarombek
 * @since 1/20/2020
 */

.sxctf-home {
  background: rgba(0, 0, 0, 0.6);

  video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 625px;
    z-index: -1;
  }
}
