/*
 * Sass styling for the HomeApps component
 * @author Andrew Jarombek
 * @since 1/22/2020
 */

@import "../fonts";

.sxctf-home-apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
  padding: 75px 0;

  p {
    @include roboto-slab;
    font-size: 28px;
  }

  .app-stores {
    display: flex;
    flex-direction: row;
  }
}
