/*
 * Sass styling for the HomeNavBar component
 * @author Andrew Jarombek
 * @since 1/16/2020
 */

@import "../fonts";

.sxctf-home-nav-bar {
  display: flex;
  align-items: center;
  background-color: transparent;

  .sxctf-logo {
    margin: 0;
    padding-right: 10px;
    height: 100px;
    width: 100px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  h1 {
    @include roboto-slab-bold;
    color: #eee;
  }

  .sxctf-nav-buttons {
    margin: 0 20px 0 auto;

    & > div {
      margin: 0 5px;
    }
  }

  .aj-outlined-button, .aj-text-button {
    button {
      color: #eee !important;
    }

    &:hover, &:active {
      button {
        color: white !important;
      }
    }
  }
}
