/*
 * Sass styling for the Home component
 * @author Andrew Jarombek
 * @since 1/20/2020
 */

.sxctf-home {
  display: flex;
  flex-direction: column;

  .sxctf-home-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 625px;
    width: 100%;
    z-index: -1;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 625px;
    width: 100%;
    z-index: -2;
  }
}
