/*
 * Global sass styling for the entire application
 * @author Andrew Jarombek
 * @since 1/16/2020
 */

@import "src/vars";
@import "src/fonts";

* {
  box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.aj-text-button, .aj-contained-button, .aj-outlined-button {
  button {
    @include roboto-slab;
  }
}

.aj-text-button {}

.aj-contained-button {
  background-color: $saints-xctf-red !important;

  button {
    color: #eee !important;
  }

  &:hover, &:active {
    button {
      color: white !important;
    }
  }
}

.aj-outlined-button {
  border-color: $saints-xctf-red !important;
}

@keyframes show-background-mobile {
  from { height: 0 }
  to { height: calc(100ch - 75px) }
}
