/*
 * Global variables for the entire application
 * @author Andrew Jarombek
 * @since 1/19/2020
 */

$saints-xctf-red: #990000;
$spot-palette-brown: #a96a5b;
$spot-palette-cream: #ffe6d9;
$spot-palette-blue: #58b7d2;
