/*
 * Sass styling for the HomeFooter component
 * @author Andrew Jarombek
 * @since 1/22/2020
 */

@import "../../../vars";
@import "../../../fonts";

.sxctf-home-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
  padding: 20px 0;

  .contact-us-link {
    @include roboto-slab-bold;
    text-decoration: none;
    color: #777;
    transition: color 0.5s ease;

    &:hover {
      color: $saints-xctf-red;
      text-decoration: underline;
    }
  }

  .sxctf-logo-link {
    figure {
      height: 50px;
      width: 50px;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
        filter: grayscale(1) brightness(1.3);
        transition: filter 0.5s ease;

        &:hover {
          filter: none;
        }
      }
    }
  }
}
